#app {
  background-image: url('https://www.intechnic.com/hs-fs/hubfs/intechnic_2017/assets/images/landing/footer/map-xl.jpg?width=1680&height=824&name=map-xl.jpg') !important;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}